.headingContainer {
    background-color: darkolivegreen;
    padding: 2rem 1rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
}

.headingContainer h1 {
    color: black;
    margin: 0;
    opacity: 0%;
}

.educationInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: stretch; */
    padding: 0 1rem;
}

.collegeInfo {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collegeInfo h2 {
    color: white;
    font-weight: 350;
    margin-bottom: 1rem;
}

.degreeInfo {
    color: darkolivegreen;
    font-size: 1.0rem;
    font-style: italic;
    font-weight: 300;
}

.attendanceDates {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    color: darkolivegreen;
    white-space: nowrap;
    order: 1;
    text-align: center;
}

.slideIn {
    animation: fromRight 400ms ease-in-out both;
}

@keyframes fromRight {
    0% {
        transform: translateX(50px);
        opacity: 0%;
    }

    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
}

@media (min-width: 768px) {
    .headingContainer {
        padding: 4rem 3rem;
    }

    .educationInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        padding: 0 3rem;
    }

    .collegeInfo {
        order: 1;
    }

    .degreeInfo {
        font-size: 1.3rem;
    }

    .attendanceDates {
        margin: 0;
        order: 2;
    }
}